{
  "extends": ["airbnb"],
  "plugins": [],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "prettier/prettier": "error",
    "linebreak-style": 0,

  }

}